
<router-outlet></router-outlet>

<main>
	<h1>Draughts / Checkers</h1>
	<div class="flexParent">
		<div class="app-board-wrapper">
			<app-board></app-board>
		</div>
		<div class="right">
			<app-settings-bar></app-settings-bar>
			<div class="instructions">
				Drag the pieces to move. Pawns can move forward diagonally one step. They can jump over an enemy piece
				and land on an empty square to capture the enemy. On reaching the last row a pawn becomes a queen (red border).
				Queens can move backwards too. Capture all pieces to win.
			</div>
		</div>
	</div>
	<app-status-bar></app-status-bar>
</main>
