.app-board-wrapper {
	width: 630px;
	flex-shrink: 0px;
}

.flexParent {
	display: flex;
	justify-content: space-between;
}

main {
	background-color: powderblue;
	border-radius: 50px;
	padding: 80px 100px;
}

h1 {
	margin: 0px 0px 20px 0px;
	text-align: center;
	font-family: "Old English Text MT", "CommercialScript BT",Cambria,Tahoma;
	font-size: 36px;
}

.right {
	width: 300px;
	font-family: Tahoma;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
}


